@import "~antd/dist/antd.css";

/* home page */
body{
    background-color:#191919;
}

h1,h2 {
    font-family: 'Montserrat', sans-serif;
    color:white;
    text-align: center;
    padding: 9%;
    font-size: 23px
}

.listing {
    margin:0 auto;
}

a {
    color:white;
}

/* @keyframes glowing {
    0% { box-shadow: 0 0 100px #e2f72b; }
    40% { box-shadow: 0 0 20px #ed516d; }
    60% { box-shadow: 0 0 20px #ed516d; }
    100% { box-shadow: 0 0 100px #ed516d; }
  } */

  @keyframes glowing-path {
    0% { fill: #4fff04; }
    20% { fill: #f38b9e; }
    40% { fill: #e739f3; }
    60% { fill: #f38b9e; }
    80% { fill: #f38b9e; }
    100% { fill: #cffc06; }
  }

  .glow-path>path {
    animation: glowing-path 5000ms infinite;
  }

  @keyframes glowing {
    0% { color: #fdfcfc; }
    20% { color: #f38b9e; }
    40% { color: #f3395e; }
    60% { color: #f38b9e; }
    80% { color: #f38b9e; }
    100% { color: #fdfcfc; }
  }
  
  .glow {
    animation: glowing 5000ms infinite;
  }

  .listing {
    font-family: 'Montserrat', sans-serif;
    padding:20px;
    /* background-color:black; */
    color:white;
    width:70%;
    margin:0 auto;
    margin-top:10px;
    text-align:center;
    font-size:.9em;
    /* border:2px #f34f4f solid; */
    /* border-bottom: #f34f4f solid; */

  }

  .artist-listing-name {
      font-size:1.6em;
      font-weight:bold;
  }

  #add-box {
    position:fixed;
    left:15%;
    top:17%;
    overflow:visible;
  }

  #ticky-box {
    position:fixed;
    left:15%;
    top:33%;
    overflow:visible;
  }

  #viewlisting-container {
      font-family: 'Montserrat', sans-serif;
      color:white;
      border:2px white solid;
      width:70%;
      margin-left:17%;
      margin-top:5%;
      padding:5%;
  }
  #viewlisting-artist {
      font-size:22px;
      text-align:left;
      font-weight:bold;
      border-bottom: 2px white solid;
      margin-bottom:1%;
  }
  #viewlisting-venue{
      text-align:left;
      font-size:15px;
  }
  #viewlisting-footer {
    margin:15%;
    text-align: center;
  }
  #lose-ticky>a{
      color:black;
      font-weight: 1px;
  }
  #lose-ticky{
    margin:0 auto;
    margin-top:50px;
    border:2px solid red;
    background-color:white;
    color:black;
    width:100%;
    height:70px;
    line-height:67px;
    max-width:300px;
  }


  .venue-listing-name {
    font-size:1em;
  }

  #view-ticket-wrapper {
    display:flex;
    justify-content: flex-end;
  }

  #view-ticket-container {
      color:white;
      margin:5%;
      width:61%;
  }

  .view-ticket-item {
      font-size:15px;
      border:3px white solid;
      font-family: 'Montserrat', sans-serif;
      text-align:center;
      padding-top:13px;
      margin-bottom:2%;
  }

  .view-ticket-item>p {
    display:flex;
    justify-content: center;
  }

  .left-side-floater {
    position:fixed;
    left:0%;
    top:17%;
    color:white;
    width:30%;
    padding:2%;
    margin:5%;
  }

  #venue-date-upload-form {
    display: flex;
    width:80%;
    margin: 0 auto;
  }



  .ticket{
    margin-top: 18px;
    margin-bottom: -24px;
  }

  #nav {
      color:white;
      position:fixed;
      width:15%;
  }
  #ticket-grab-container {
      color:white;
      display: flex;
      justify-content: center;
      margin-top:5%;
      margin-left:5%;
  }
  #ticket-grab{
      border:2px white solid;
      max-width:310px;
	  max-height:310px;
  }

@media only screen and (min-width: 600px) {
    #ticket-grab{
        max-width:500px;
        max-height:500px;
    }

    .artist-listing-name {
        font-size:1.5em;
    }
    #viewlisting-artist {
        font-size:2.3em;
    }
    .listing {
        width:50%;
        font-size:2em;
      }
    #nav{
        width:15%;
    }
    #ticket-grab-container {
        margin-left:0%;
    }
}




